/*
 * Type.css
 */
 
$unit: 'em';
$base: 1#{$unit} !default;
$base-font-size: 16px;
$base-margin-top: $base !default;
$base-margin-bottom: $base !default;
$base-line-height: 1.618;
$headings-line-height: 1.125;
$text-color: #333 !default;
$code-font-family: "DejaVu Sans Mono", Inconsolata, Consolas, "Lucida Console", monospace !default;
$code-text-color: tomato;

html {
	font-family: "PT Sans", sans-serif;
	font-size: $base-font-size;
	line-height: $base-line-height;
}
 
h1, h2, h3, h4, h5, h6 {
	margin-top: $base-margin-top;
  margin-bottom: $base-margin-bottom;
  font-weight: bold;
  line-height: $headings-line-height;
  color: $text-color;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.618#{$unit};
}

h2 {
  font-size: 1.82#{$unit};
}

h3 {
  font-size: 1.618#{$unit};
}

h4, h5, h6 {
  font-size: 1.125#{$unit};
}

p {
  margin-bottom: $base-margin-bottom;
}

strong {
  color: lighten($text-color, 5%);
}

nav ul,
nav ol {
 list-style: none;
 margin-left: 0;
 padding-left: 0;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: $base-margin-bottom;
  line-height: $base-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5#{$unit};
}

hr {
  position: relative;
  margin: 1.5#{$unit} 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

pre {
	margin-left: 1.125#{$unit};
	white-space: pre-wrap;
}

code {
	color: $code-text-color;
	font-family: $code-font-family;
}

kbd,
samp {
	color: lighten($text-color, 15%);
	font-family: $code-font-family;
	background-color: #eee;
}

samp {
	padding: 1px 3px;
}

kbd {
	padding: 2px 6px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

mark {
	background-color: #fff9d9;
}

blockquote {
  padding: .5#{$unit} 1#{$unit};
  margin: .8#{$unit} 0;
  color: lighten($text-color, 30%);
  border-left: .25#{$unit} solid lighten($text-color, 65%);
  
  @media (min-width: 30em) {
    padding-right: 5#{$unit};
    padding-left: 1.25#{$unit};
  }
}

blockquote p:last-child {
  margin-bottom: 0;
}

figure {
	margin-left: 0;
}

figcaption {
	font-size: 0.85#{$unit};
	color: lighten($text-color, 41.887%);
}

caption {
	margin-top: 0.695#{$unit};
	font-size: 0.85#{$unit};
	caption-side: bottom;
	color: lighten($text-color, 40%);
}

table {
	margin-bottom: 1#{$unit};
	width: 100%;
	border: 1px solid lighten($text-color, 50%);
	border-collapse: collapse;
}

td, 
th {
	padding: .25#{$unit} .5#{$unit};
	border: 1px solid lighten($text-color, 70%);
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: lighten($text-color, 75%);
}
